* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
	background-image: url("images/hiking-homepage.jpeg");
	background-size: cover;
}

/* header ------------------------------ */
.header {
	text-align: center;
	padding-bottom: 20px;
}
.fa-home {
	float: right;
	padding: 20px;
}
.fa-home:hover {
	cursor: pointer;
	color: #fff;
}
.header h1 {
	margin: auto;
	clear: right;
	font-size: 4em;
}

/* homepage ---------------------------- */
.homepage {
	text-align: center;
	padding-bottom: 100px;
}
.homepage form {
	padding-top: 60px;
	font-size: 1.3em;
}
#homepage-input {
	padding: 5px;
	border-radius: 5px;
}
#homepage-submit {
	padding: 5px;
	border-radius: 3px;
}
#advanced {
	margin-top: 50px;
	font-size: 1.4em;
	border-radius: 30px;
	padding: 15px;
}


/* advanced search -------------------- */
.hidden-advanced {
	width: 500px;
	margin: 50px auto;
	padding: 40px 0;
	border-radius: 10px;
	text-align: center;
	background-color: rgba(0,0,0,.5);
	color: #fff;
}
.hidden-advanced h2 {
	font-size: 1.7em;
	text-align: left;
	padding-left: 20px;
	font-weight: 300;
}
#find-hikes {
	margin-top: 50px;
	font-size: 2em;
	border-radius: 3px;
}